/* Geral */

#logo {
	width: max(80px, 18vw);
	padding: 0.4rem;
	cursor: pointer;
}

body {
	font-family: Poppins, sans-serif;
	background-color: #fdf9f9;
}

p {
    text-align: left;
}

.container, .container_edit {
	margin: 10px auto;
	max-width: 350px;
	padding: 20px 20px 40px;
	border-radius: 5px;
}

.container_edit{
	max-width: 600px;
	background-color: eded
}

h1 {
	text-align: left;
	margin-bottom: 20px;
	margin-top:3px;
	padding: 8px;
	font: 600 2.5em Poppins;
	color: #393737;
}

h2 {
	font: 500 1.5em Poppins;
	color: #393737;
}

.text-eyebrow{
	text-align: left;
	color: #807b7b;
	padding:8px;
	font: 500 0.8em Poppins;
}

/* Geral */

/* Forms */
form {
	display: flex;
	flex-direction: column;
}

input[type=text], input[type=password], input[type=email], input[type=date], textarea[type=text], select, option {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
	font-family: Poppins;
	background-color: #e9e8e8;
	box-shadow:2px 2px #c0c0c2;
	color: #737375
}

input[type=submit]:not(.newlogin), .edit-btn{
	background-color: #4169E1;
	color: #f7f4f4;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	font: 600 1em Poppins;
	margin-bottom: 20px;
}

input[type=submit]:hover:not(.newlogin),.edit-btn:hover {
	background-color:#3252b5;
}

/* Forms */

/* Geral */

.edit-btn {
	padding: 8px;
	border-radius: 5px;
	cursor: pointer;
	font: 500 0.9em Poppins;
	margin:0px;
}

.newlogin{
	margin-top: 20px;
	background-color: rgb(213, 213, 213);
	color: #3b3939;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	font: 600 1em Poppins;
	font-weight: 600;
}

.newlogin:hover {
	background-color:rgb(221, 221, 221);
}

.divider {
	border-bottom: 1px solid #babdbd;
	margin:2px ;
}

.text-caption {
	text-align: left;
	color: #807b7b;
	padding:8px;
	font: 430 0.7em Poppins;
}

.text-caption a {
	color: #4e4b4b;
}

.low_contrast{
	font: 530 0.9em Poppins;
	padding: 8px;
}

.error, .double_user {
	text-align: center;
	font: 450 0.9em Poppins;
	padding: 0px 8px 10px 8px;
	color: rgb(213, 51, 51);
}

.low_contrast{
	font: 630 0.9em Poppins;
	padding: 0px;
	color:#807b7b;
}

footer {
	bottom: 0;
    position: relative;
    width: 98%;
    text-align: center;
}
  
footer, footer a {
	color: #69696c;
	text-decoration: none;
}

address {
	text-align: center;
	padding: 16px;
	font: 500 0.9em Poppins;
}

address span {
	margin: auto auto auto 15px;
}

/* Home Nav Bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf9f9;
    color: #fff;
    padding: 10px;
}

nav .logo {
    display: flex;
    align-items: center;
}

#txtSearch{
    float:left;
    background-color:transparent;
    font-style:italic;
    font-size:15px;
    border:none;
    height:30px;
    width:800px;
    margin-right: 40px;
    margin-left: 10px;
}

.search {
    border-radius:15px;
    border-color: #c0c0c2;
}
  
nav .user {
    display: flex;
    align-items: center;
}
  
nav .user img {
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
  
nav .user .username {
    font-weight: bold;
    color: black;
    width: 90px;
}

/* Home Nav Bar */

/* Home Button Group */

.btn-group button {
    padding: 10px;
    margin: 0%;
	border: none;
    border-radius: 0%;
	box-shadow:2px 2px #c0c0c2;
    color: black;
    font-size:15px;
    cursor: pointer;
    width: 100%;
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
.btn-group button:first-child {
    background-color: #e9e8e8;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.btn-group button:hover {
    background-color: #e9e8e8; /* Add a background color on hover */
}

/* Home Button Group */

/* Home Table */

table {
    margin-left: 10px;
    padding-right: 50px;
    font-size:15px;
    border-collapse: collapse;
    width: 98%;
}

.selected {
    background-color: #e9e8e8;
}

tr, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    font-size: larger;
}

tr:hover {
    background-color: #e9e8e8;
}

/* Home Table */

/* Home Grid */

.grid-container {
    display: grid;
    gap: 10px;
    padding: 10px;
    background-color: #fdf9f9;
    grid-template-columns: 0.6fr 2.8fr 0.6fr 0.05fr;
}
  
.grid-container > div {
    background-color: #fdf9f9;
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
}

/* Home Grid */

/* Buttons */

button {
    padding: 20px;
    margin-bottom: 18px;
	border: none;
	box-shadow:2px 2px #c0c0c2;
    color: black;
    font-size:15px;
    cursor: pointer;
    width: 95%;
    border-radius: 50px;
    font-size: larger;
}
  
button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

button:hover {
    background-color: #e9e8e8; /* Add a background color on hover */
}

/* Buttons */

/* Cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    padding: 10px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

/* Cards */

/* Home Edit Button */
.item-2 button {
    padding: 0%;
    margin: 0%;
    width: 0%;
}  


  .edit-button img {
    display: block;
    height: 20px;
    width: 20px;
  }  

/* Home Edit Button */
