#logo {
	width: max(80px, 18vw);
	padding: 0.4rem;
	cursor: pointer;
}

body {
	font-family: Poppins, sans-serif;
	background-color: #fdf9f9;
}

.container, .container_edit {
	margin: 10px auto;
	max-width: 350px;
	padding: 20px 20px 40px;
	border-radius: 5px;
}

.container_edit{
	max-width: 600px;
	background-color: eded
}

h1 {
	text-align: left;
	margin-bottom: 20px;
	margin-top:3px;
	padding: 8px;
	font: 600 2.5em Poppins;
	color: #393737;
}

h2 {
	font: 500 1.5em Poppins;
	color: #393737;
}

.text-eyebrow{
	text-align: left;
	color: #807b7b;
	padding:8px;
	font: 500 0.8em Poppins;
}

form {
	display: flex;
	flex-direction: column;
}

input[type=text], input[type=password], input[type=email] {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
	font-family: Poppins;
	background-color: #e9e8e8;
	box-shadow:2px 2px #c0c0c2;
}

input[type=submit]:not(.newlogin), .edit-btn{
	background-color: #4169E1;
	color: #f7f4f4;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	font: 600 1em Poppins;
	margin-bottom: 20px;
}

input[type=submit]:hover:not(.newlogin),.edit-btn:hover {
	background-color:#3252b5;
}

.edit-btn {
	padding: 8px;
	border-radius: 5px;
	cursor: pointer;
	font: 500 0.9em Poppins;
	margin:0px;
}

.newlogin{
	margin-top: 20px;
	background-color: rgb(213, 213, 213);
	color: #3b3939;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	font: 600 1em Poppins;
	font-weight: 600;
}

.newlogin:hover {
	background-color:rgb(221, 221, 221);
}

.divider {
	border-bottom: 1px solid #babdbd;
	margin:2px ;
}

.text-caption {
	text-align: left;
	color: #807b7b;
	padding:8px;
	font: 430 0.7em Poppins;
}

.text-caption a, .high_contrast{
	color: #4e4b4b;
}

.low_contrast,.high_contrast{
	font: 530 0.9em Poppins;
	padding: 8px;
}

.high_contrast{
	margin-top: 5px;
}

.low_contrast{
	color:#807b7b;
	font: 630 0.9em Poppins;
	padding: 0px 8px;
}

/* Estilos para o popup de edição */
.edit-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	backdrop-filter: blur(5px);
	display: none;
	align-items: center;
	justify-content: center;
}

.edit-popup-content {
    position: relative;
	background-color: #fdf9f9;
	padding: 30px;
	border-radius: 8px;
	min-width: 250px;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5px;
	border:none;
    font-size: 30px;
	font-weight: 280;
    cursor: pointer;
    padding: 5px 15px 0px 0px;
	color:#3b3939;
	background-color:#fdf9f9;
}

.p-edit {
	display: flex;
  	justify-content: space-between;
	margin: 0px 0px 25px 0px;
}

.error {
	text-align: center;
	font: 450 0.9em Poppins;
	padding: 0px 8px 10px 8px;
	color: rgb(213, 51, 51);
}

footer {
	bottom: 0;
    position: fixed;
    width: 98%;
    text-align: center;
}
  
footer, footer a {
	color: #69696c;
	text-decoration: none;
}

address {
	text-align: center;
	padding: 16px;
	font: 500 0.9em Poppins;
}

address span {
	margin: auto auto auto 15px;
}