#logo {
	width: max(80px, 18vw);
	padding: 0.4rem;
	cursor: pointer;
}

body {
	font-family: Poppins, sans-serif;
	background-color: #fdf9f9;
}

.container {
	margin: 10px auto;
	max-width: 350px;
	padding: 20px 20px 40px;
	border-radius: 5px;
}

h1 {
	text-align: left;
	margin-bottom: 20px;
	margin-top:3px;
	padding: 8px;
	font: 600 2.5em Poppins;
	color: #393737;
}

.text-eyebrow{
	text-align: left;
	color: #807b7b;
	padding:8px;
	font: 500 0.8em Poppins;
}

form {
	display: flex;
	flex-direction: column;
}

input[type=text], input[type=password], input[type=email] {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
	font-family: Poppins;
	background-color: #e9e8e8;
	box-shadow:2px 2px #c0c0c2;
}

input[type=submit]:not(.newlogin) {
	background-color: #4169E1;
	color: #f7f4f4;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	font: 600 1em Poppins;
	margin-bottom: 20px;
}

input[type=submit]:hover:not(.newlogin) {
	background-color:#3252b5;
}

.newlogin{
	margin-top: 20px;
	background-color: rgb(213, 213, 213);
	color: #3b3939;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	font: 600 1em Poppins;
	font-weight: 600;
}

.newlogin:hover {
	background-color:rgb(221, 221, 221);
}

.divider {
	border-bottom: 1px solid #babdbd;
	margin:2px ;
}

.text-caption {
	text-align: left;
	color: #807b7b;
	padding:8px;
	font: 430 0.7em Poppins;
}

.text-caption a{
	color: #4e4b4b;
}

footer {
	display: flex;
	justify-content: center;
}
  
footer, footer a {
	color: #69696c;
	text-decoration: none;
}

address {
	margin-top: 85px;
	text-align: center;
	padding: 16px;
	font: 500 0.9em Poppins;
}

address span {
	margin: auto auto auto 15px;
}
